@model Venue.Models.Models.Place.PlaceIndexModel

<div class="card">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
            @if (Model.Images != null && Model.Images.Count > 0)
            {
                <img class="card-img-top" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Images.First().Picture))" style="width: 40%;">
            }
            else
            {
                <img class="card-img-top" src="~/images/no-image.png">
            }
        </div>
        <div class="card-body" style="width: 60%;">
            <h4 class="card-title">@Model.Name</h4>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Создан: @Model.CreatedUtc.ToString("dd.MM.yyyy")</small>
        <small class="text-muted">Рейтинг: @Model.Rating</small>
    </div>
</div>


@if (Model.Images != null && Model.Images.Count > 1)
{
    <div class="mt-5 mb-5">
        @foreach (var image in Model.Images.Skip(1))
        {
            <div class="images">
                <img class="card-img-top" style="width: 100%;" src="data:image/jpeg;base64,@(Convert.ToBase64String(image.Picture))">
            </div>
        }
    </div>
}